body {
  font-family: 'Helvetica', sans-serif;
  background-color: #0D0D0D;
  color: #FAF8F8;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #FAF8F8;
  font-weight: lighter;
}

h5 {
  font-weight: lighter;
  font-size: 20px;
  line-height: 150%;
}

h6 {
  font-weight: lighter;
  font-size: 16px;
  line-height: 133.333%;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  margin-top: -6px;
}

p {
  font-size: 12px;
  font-weight: normal;
}

/* Utilities */
.bg-white {
  background: #FDFDFA;
}

.overflow-hidden {
  overflow: hidden;
}

.d-flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/* Blocks */
.page {
  /* Layout for showcase content. */
  padding-top: 16vh;
  display: flex;
  flex-direction: column;
  margin: 18px 36px 12px 24px;
  max-width: 100%;
}

.section {
  /* Showcase all work for a given section */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  column-gap: 12px; /* Will create units within each column for margin buffers */
  row-gap: 18px;
}

.block {
  /* Each block of the big grid has its own grid to control caption and column margins */
  /* Save one block of 12px on the bottom, two blocks of 12px on the right */
  display: grid;
  grid-template-columns: [col-start] minmax(0, 1fr) [col-end cg1-start] 12px [cg1-end cg2-start] 12px [cg2-end];
  grid-template-rows: [row-start] minmax(0, 1fr) [row-end rg-start] 18px [rg-end];
  column-gap: 0px;
  row-gap: 0px;
}

.block-default {
  grid-column-start: col-start;
  grid-column-end: col-end;
  grid-row-start: row-start;
  grid-row-end: row-end;
}

.block-full-width {
  grid-column-start: col-start;
  grid-column-end: cg2-end;
  grid-row-start: row-start;
  grid-row-end: row-end;
}

.block-full-height {
  grid-column-start: col-start;
  grid-column-end: col-end;
  grid-row-start: row-start;
  grid-row-end: rg-end;
}

.showcase {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  height: 100%;
}

.showcase__image-center {
  margin: auto;
  object-fit: cover;
  max-height: calc(100% - 18px);
  max-width: 100%;
}

.showcase__image {
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
}

.block-border {
  border-top: 1px #666 solid;
  border-bottom: 1px #666 solid;
}

/* Captions */

.caption {
  grid-column-start: col-start;
  grid-column-end: col-end;
  grid-row-start: rg-start;
  grid-row-end: rg-end;
}

.mt-caption {
  margin-top: 4px;
}

@media only screen and (max-width:600px) {
  /* Mobile */
  .page {
    /* Layout for showcase content. */
    padding-top: 0vh;
    display: flex;
    flex-direction: column;
    margin: 18px 36px 12px 24px;
    max-width: 100%;
  }

  .section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 12px;
    row-gap: 18px;
  }

  a {
    text-decoration: none;
    color: #FAF8F8;
    font-weight: lighter;
  }

  h5 {
    font-weight: lighter;
    font-size: 12px;
    line-height: 150%;
  }

  h6 {
    font-weight: lighter;
    font-size: 12px;
    line-height: 133.333%;
  }

  h1 {
    font-weight: bold;
    font-size: 36px;
    margin-top: -6px;
  }

  p {
    font-size: 8px;
    font-weight: normal;
  }
}
