.visa {
  grid-template-rows: repeat(12, 6vw);
  margin-top: 6vw;
}

.visa__header {
  grid-column: 1;
  grid-row: 1;
}

.visa__desc {
  grid-column: 2;
  grid-row: 1;
}

.visa__slide {
  grid-column: 3 / 6;
  grid-row: 2 / 6;
}

.visa__web {
  grid-column: 1 / 5;
  grid-row: 7 / 12;
}

@media only screen and (max-width:600px) {
  .visa {
    grid-template-rows: repeat(13, 6vw);
    margin-top: 6vw;
  }

  .visa__header {
    grid-column: 1;
    grid-row: 1;
  }

  .visa__desc {
    grid-column: 2 / 4;
    grid-row: 1;
  }

  .visa__slide {
    grid-column: 1 / 4;
    grid-row: 3 / 9;
  }

  .visa__web {
    grid-column: 1 / 4;
    grid-row: 9 / 13;
  }
}
